<h1><%= @user.name %>님의 페이지</h1>

<ol>
  <% @user.questions.each do |a| %>
    <%= a.user.name %> 님이 질문했습니다.</br>
    <%= a.content %></br>
    <img src="<%= a.ask_image_url %>">
    </br>
    <% if @user == current_user %>
      <form action = "/post/answer">
        <input type="hidden" name="ask_id" value="<%=a.id%>">
        <input type="text" name="answer">
        <input type="submit">
      </form>
    <% end %>

    <% a.answers.each do |u| %>
      <%= u.content %>
      </br></br>
    <% end %>
  <% end %>
</ol>

<%= form_tag '/post/question', multipart: true %>
<input type="hidden" name="to" value="<%=@user.id%>">
<input type="text" name="ask">
<input type="file" name="image_file">
<input type="submit">
</form>

<%= link_to 'Users', post_list_path %>
<%= link_to 'log out', destroy_user_session_path, :method => :delete %>
